<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
     
<head th:replace="fragments/head" />

<body>
<nav th:replace="fragments/nav" />
  <div style="height: 70%">
        <div class="flex-center flex-column">
	<br/>
	<div th:style="${bg}" id="result" th:text="${result}"></div>
	<div id="passwform">
    <form action="changePassword" method="post">
    	    <br/>
    	    <p class="h4 text-center mb-4">Change password</p>
    		<label for="user" class="grey-text">Enter your username:</label> 
		<input type="text" id="user" class="form-control" name="user" style="width: 100%"></input>

        <br/>
        <label for="kind" class="grey-text">Enter your kind:</label>
        <input type="text" id="kind" class="form-control" name="kind" style="width: 100%"/>
        <br/>
        <label for="old" class="grey-text">Enter your old password:</label>
        <input type="password" id="old" class="form-control" name="old" style="width: 100%"/>
        <br/>
        <label for="password" class="grey-text">Enter your new password:</label>
        <input type="password" id="password" class="form-control" name="password" style="width: 100%"/>
        <br/>
        <label for="password2" class="grey-text">Confirm your new password:</label>
        <input type="password" id="password2" class="form-control" name="password2" style="width: 100%"/>
        <br/>

		<div class="text-center mt-4">
			<button class="btn btn-elegant" type="submit" style="width: 130%">Change your password</button>
		</div>
    </form>
    </div>
	<br/>
	<p>Go back to the <a href="login">login</a> page</p>
	<br/>
 </div>
    </div>
    	<footer th:replace="fragments/footer" />
</body>
</html>
