<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div style="height: 70%">
		<div class="flex-center flex-column">
			<br />
			<div class="card">
				<h3 class="card-header elegant-color-dark white-text">Agent Information</h3>
				<div class="card-body">
					<div class="card-body" onMouseOut="this.style.color='#000'">
						<!--Text-->
						<p>Name: <span class="grey-text" th:text="${name}" /></p>
						<p>Location: <span class="grey-text" th:text="${location}" /></p>
						<p>Email: <span class="grey-text" th:text="${email}" /></p>
						<p>Id:<span class="grey-text" th:number="${id}" /></p>
						<p>Kind: <span  class="grey-text" th:text="${kind}" /></p>
						<p>KindCode: <span class="grey-text" th:text="${kindCode}" /></p>
						<br/>

						<p><a class="btn elegant-color-dark" href="changePassword" role="button">Change your password</a></p>

					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>



