<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Participant information</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            font-family: "Helvetica Neue", Helvetica, sans-serif;
            color: #444;
            -webkit-font-smoothing: antialiased;
            background: #f0f0f0;
        }


    </style>
</head>
<body>
<p>
<h1>User information</h1></p>
<p>Name: <span th:text="${name}"/></p>
<p>Location: <span th:text="${location}"/></p>
<p>Email: <span th:text="${email}"/></p>
<p>Id:<span th:number="${id}"/></p>
<p>Kind: <span th:text="${kind}"/></p>
<p>Kind code:<span th:number="${kindcode}"/></p>
<br/>
<p><a href="changep">Change your password</a></p>
</body>
</html>