<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            font-family: "Helvetica Neue", Helvetica, sans-serif;
            color: #444;
            -webkit-font-smoothing: antialiased;
            background: #f0f0f0;
        }
        form {
            margin-left: 2%;
            margin-top: 2%;
        }


    </style>
</head>
<body>
<div id="loginform">
    <form action="login" method="post">
        <label for="login">Username:</label>
        <input type="text" id="login" name="login"/>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"/>

        <label for="kind">Kind:</label>
        <input type="text" id="kind" name="kind"/>

        <input type="submit" value="Login"/>
    </form>
</div>
</body>
</html>
