<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
     
<head th:replace="fragments/head" />

<body>
<nav th:replace="fragments/nav" />
  <div style="height: 70%">
        <div class="flex-center flex-column">
	<br/>
    <form action="login" method="post">
        <p class="h4 text-center mb-4">Log in</p>
        <div class="form-group">
    		<label for="formGrouploginusername" class="grey-text">Username:</label>
		<input type="text" id="formGroupusername" class="form-control" name="login" style="width: 130%"></input>
		
		</div>
		
		<br/>
		
	    <div class="form-group">
	  	<label for="formGrouploginpassword" class="grey-text">Password:</label>
		<input type="password" id="formGrouppassword" class="form-control" name="password" style="width: 130%"></input>
		</div>
		
		<br/>
		
		<div class="form-group">
		<label for="formGrouploginkind" class="grey-text">Kind:</label>
		<input type="number" id="formGroupkind" class="form-control" name="kind" style="width: 130%" value="0"
			min="0" max="3"></input>
		</div>
                  
         <div class="text-center mt-4">
			  <button class="btn btn-elegant" type="submit" style="width: 130%">Log In</button>
		</div>
    </form>
    </div>
    </div>
    	<footer th:replace="fragments/footer" />
</body>
</html>
