<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
     
<head th:replace="fragments/head" />

<body>
<nav th:replace="fragments/nav" />
  <div style="height: 70%">
        <div class="flex-center flex-column">
	<br/>
	<div th:style="${bg}" id="result"></div>
	 <p class="h4 text-center mb-4">Password changed successfully</p>
	<br/>
	<p>Go back to the <a href="login">login</a> page</p>
	<br/>
 </div>
    </div>
    	<footer th:replace="fragments/footer" />
</body>
</html>
